---
layout: home
title: monash-competitive-programming-team
---

<ul>
{% for page in site.pages %}
{% if page.sticky %}
<h2><a style="color:blue">News: </a> <a href={{ page.url }}> {{ page.sticky-desc }} </a> </h2>
{% endif %}
{% endfor %}
</ul>

<h3>Archives</h3>
<table border="1" class="fancytable">
<thead>
<tr>
  <th>Time</th>
  <th>Title</th>
</tr>
<thead>
<tbody>
{% for post in paginator.posts %}
<tr>
  <td><time datetime="{{ post.date | date_to_xmlschema }}"> 
    <a style="font-size: 15px; font-weight:bold">
      {{ post.date | date_to_string }}
    </a>
  </time></td>
  <td>
    <a style="font-size: 15px; font-weight:bold" href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
      {{ post.title }}
    </a>
  </td>
</tr>
{% endfor %}
<!--
<ul>
    {% for post in paginator.posts %}
      <li>
          <h4>
          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">{{ post.title }}</a>
          </h4>
      </li>
    {% endfor %}
</ul>
-->
<tbody>
</table>
