<br>
    
<center>
<div class="fancytitle">MONASH <b>COMPETITIVE PROGRAMMING</b></div>
<hr style="border: 4px solid #4E5066;" />
<img src="/assets/img/MONASH.png" height="100px"></img>
</center>
<br>

<div id="navcontainer">
<ul>
<center>
<table border="0">
<tr>
<td width="20%"><li><a href="/"><div align="center" style:"height:100%;width:100%">Home</div></a></li>
<td width="20%"><li><a href="/about"><div align="center" style:"height:100%;width:100%">About</div></a></li>
<td width="20%"><li><a href="/for-contestants"><div align="center" style:"height:100%;width:100%">For Beginners</div></a></li>
<td width="20%"><li><a href="/contact"><div align="center" style:"height:100%;width:100%">Contact Us/Join</div></a></li>
</tr>
</table>
</center>
</ul>
</div>

<br>
