---
layout: default
---

<body>
  {% include analyticstracking.html %}
  <div class="transbox">
    {% include header.html %}
    <div class="d90">


    <ul>
    {% for page in site.pages %}
    {% if page.sticky %}
    <h2><a style="color:blue">News: </a> <a href={{ page.url }}> {{ page.sticky-desc }} </a> </h2>
    {% endif %}
    {% endfor %}

    {% for page in site.posts %}
    {% if page.sticky %}
    <h2><a style="color:blue">News: </a> <a href={{ page.url }}> {{ page.sticky-desc }} </a> </h2>
    {% endif %}
    {% endfor %}
    </ul>
    <hr>
    <div class="span9">
      <h3>Event Calendar</h3>
      <iframe src="{{ site.contest_calendar }}" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

    </div>

    {{ content }}

  </div>
</body>
