<!DOCTYPE html>
<html lang="{{ site.lang | defaut: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/syntax.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png">
  {% seo %}

  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
        inlineMath: [ ['$', '$'], ["\\(", "\\)"] ],
        displayMath: [ ['$$', '$$'], ["\\[", "\\]"] ],
        processEscapes: true,
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
      }
      //,
      //displayAlign: "left",
      //displayIndent: "2em"
    });
  </script>
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML" type="text/javascript"></script>

  </head>

<body>
  {% include analyticstracking.html %}
  <div class="transbox">
    {% include header.html %}
    <div class="d90">

    {{ content }}
    {% if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.previous_page == 1 %}
      <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">&laquo;</a>
      {% elsif paginator.previous_page%}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">&laquo;</a>
      {% else %}
      <span class="page-item">&laquo;</span>
      {% endif %} {% for page in (1..paginator.total_pages) %} {% if page == paginator.page %}
      <span class="page-item">{{ page }}</span>
      {% elsif page == 1 %}
      <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">{{ page }}</a>
      {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}" class="page-item">{{ page }}</a>
      {% endif %} {% endfor %} {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">&raquo;</a>
      {% else %}
      <span class="page-item">&raquo;</span>
      {% endif %}
    </div>
    {% endif %} 
    </div>
  </div>
  <hr style="border: 4px solid #4E5066;" />
  {% include footer.html %}
</body>
</html>
