---
layout: default
---

<body>
  {% include analyticstracking.html %}
  <div class="transbox">
    <br>

    <center>
      <div class="fancytitle">MONASH <b style="color:#A00">COMPETITIVE PROGRAMMING</b></div>
      <hr style="border: 4px solid #4E5066;">
    </center>

    <a href="/archives"><div align="left" style:"height:100%;width:100%">&laquo;Back</div></a>
    <div class="fancytitle">{{ page.title }}
    </div>
    <center>
    <time  datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}</time>
    </center>
    <div class="d90">
      {{ content }}
    </div>
    <hr style="border: 3px solid #4E5066;">
  </div>
  {% include footer.html %}
</body>
